<!DOCTYPE html>
<html>
  <head>
    <title>Grocery</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div>
      <div class="pull-right">
        <h3>Cart: <%= session[:product].length unless session[:product].empty? %> items</h3>
        <%= link_to('Checkout', checkout_index_path, class: 'btn btn-primary') %>
      </div>
      <%#= raise session["product"].inspect %>
      <%#= (session[:product]).each do |product, quantity| %>
        <%#= product %>
      <%# end %>
    </div>
  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div style='border:1px solid black'>
      <% session[:product].each do |item| %>
      <%= item.name %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>