<!DOCTYPE html>
<html>
  <head>
    <title>Grocery</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div>
    </div>
    <% if current_user.store_owner == false %>
    <%= link_to('my order', order_path(session[:order_id])) %>
      <div style="border:1px solid black">
        <% Order.find(session[:order_id]).line_items.each do |item| %>
        <% if item.product%>
        <%= item.product.name %> : <%= item.quantity %><br/>
        <% else %>
        <% end %>
        <% end %>
      </div>
       <% else %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>